<!DOCTYPE html>
<html>
<head>
    <title>Customer Service ChatBot</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1><Customer Service ChatBot></h1>
    <form action="/generate" method="POST">
        <textarea name="prompt" rows="5" cols="50" placeholder="Enter your question..."></textarea><br>
        <button type="submit">Ask</button>
    </form>

    {{#if userMessage}}
        <h3>Your Message:</h3>
        <p>{{userMessage}}</p>
    {{/if}}

    {{#if botReply}}
        <h3>Bot's Reply:</h3>
        <p>{{botReply}}</p>
    {{/if}}

    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}
</body>
</html>
